#passkey-login {
  margin-top: 0.8em;
}

#login-form #passkey-login button,
#passkey-login button {
  display: block;
  width: 100%;
  padding: 6px 16px;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  border-radius: 3px;
  box-sizing: border-box;
}
