<div class="passkey-form">
  <input type="text" id="passkey-nickname" placeholder="例: MacBook Touch ID" />
  <button type="button" onclick="registerPasskey(document.getElementById('passkey-nickname').value)">
    Passkeyを登録
  </button>
</div>
