<div style="margin-top: 1em; text-align: center;">
  <button type="button" onclick="authenticatePasskey()" style="width: 100%;">
    Passkeyでログイン
  </button>
</div>

<%= javascript_include_tag 'webauthn', plugin: 'redmine_passkey' %>
