<%= content_for :header_tags do %>
  <%= stylesheet_link_tag 'passkey_login', plugin: 'redmine_passkey' %>
  <%= javascript_include_tag 'webauthn', plugin: 'redmine_passkey' %>
<% end %>

<div id="passkey-login">
  <button type="button" id="passkey-login-btn">
    <%= l(:button_login_with_passkey) %>
  </button>
</div>

<script>
  document.getElementById('passkey-login-btn').addEventListener('click', function() {
    authenticatePasskey();
  });
</script>
