= stylesheet_link_tag 'passkey_login', plugin: 'redmine_passkey'

h2 = l(:label_passkey_management)

- if @credentials.any?
  table.list
    thead
      tr
        th = l(:label_passkey_name)
        th = l(:label_passkey_registered_at)
        th
    tbody
      - @credentials.each do |cred|
        tr
          td = cred.nickname
          td = format_time(cred.created_at)
          td = button_to l(:button_delete_passkey), passkey_path(cred), method: :delete, form: { data: { turbo: false } }, data: { confirm: l(:text_are_you_sure) }
- else
  p = l(:label_no_passkeys)

hr

h3 = l(:label_new_passkey)
#passkey-register-form
  input#passkey-nickname type="text" placeholder=l(:label_passkey_nickname_placeholder)
  button#passkey-register-btn type="button" = l(:button_register_passkey)

= javascript_include_tag 'webauthn', plugin: 'redmine_passkey'
